h1,
h3 {
  text-align: center;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center !important;
}

div {
  margin: 0 auto;
  text-align: center;
}

a:first-child {
  margin-right: 30pt;
}
